sphinx
cloud_sptheme
alabaster
ipykernel
git+https://github.com/spatialaudio/nbsphinx.git@master
numpydoc
matplotlib==2.2.3
scipy>=1.1.0
numpy>=1.15
ecos
scs
recommonmark
fastcache
cvxpy
dask
distributed
tornado
cvxopt
